<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>acezi.info | Popular and highly playable games</title>
</head>

<link rel="stylesheet" href="../styles/iconfont.css">
<link rel="stylesheet" href="../styles/type.css">
<link rel="icon" href="./img/icon_game.png" type="image/x-icon">
<script>document.documentElement.style.fontSize = window.innerWidth / 640 * 100 + 'px'</script>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<body>
  <div id="app">
    <div class="main" v-cloak="">

      <div class="header">
        <!-- pc_categories -->
        <a :href="`index.html?gameChannelId=${gameChannelId}`" class="logo">
          <img src="../images/logo.png" alt="logo" width="125" height="60">
        </a>
        <a class="label" :href="handleTypeGames(cate.type)" v-for="cate in categories" :key="cate.type">
          <i class="label_icon">
            <img :src="cate.imgUrl" :alt="cate.type" width="30" height="30">
          </i>
          <span class="label_name">
            {{cate.name}}
          </span>
        </a>

        <!-- mobile_categories -->

        <div class="label-panel" :style="{display: labelHide ? 'block' : 'none'}">
          <a :href="`index.html?gameChannelId=${gameChannelId}`" class="home">
            <img src="../images/logo.png" alt="logo" width="80">
          </a>
          <a class="label-container" :href="handleTypeGames(cate.type)" v-for="cate in categories" :key="cate.type">
            <i class="label_icon">
              <img :src="cate.imgUrl" :alt="cate.type">
            </i>
            <span class="label-name">{{cate.name}}</span>
          </a>
        </div>

        <!-- search -->
        <div class="search-head">
          <div class="menu-icon" @click="handleHideLabel" id="ShowMenu">
            <img src="../images/list.png" alt="menu" width="35">
          </div>
          <span>
            <input type="text" v-model="search" @focus="showSearchTable = true" @blur="showSearchTable = false" placeholder="Search games ..." spellcheck="false" dir="auto" autocomplete="off">
            <div class="search-data" :style="searchResultStyle">
              <div class="search-loading" v-if="!searchDone">
                <img src="../images/loading.gif" alt="loading" width="50">
              </div>
              <ul class="search-list" v-else-if="searchDone && searchResult.length > 0">
                <li class="result" v-for="item in searchResult" :key="item.gameId">
                  <a :href="`search.html?gameChannel=${gameChannelId}&keyword=${item.gameName}`">
                    <span class="game-name">{{item.gameName}}</span>
                  </a>
                </li>
              </ul>
              <div v-else="" class="search-loading">
                Search result is null
              </div>
            </div>
          </span>
        </div>


        <div class="search">
          <div class="search-menu">
            <input class="search_input" type="text" v-model="search" @focus="showSearchTable = true" @blur="showSearchTable = false" placeholder="Search Game...">
            <div class="search-btn" @click="handleToSearch">
              <img class="search-btn_img" src="../images/icon-search.png" alt="search_icon" width="20">
            </div>
            <div class="search-table" v-show="search.length > 0 && showSearchTable">
              <div class="search-loading" v-if="!searchDone">
                <img src="../images/loading.gif" alt="loading" width="50">
              </div>
              <ul v-else-if="searchDone && searchResult.length > 0">
                <li v-for="item in searchResult" :key="item.gameId">
                  <a :href="`search.html?gameChannel=${gameChannelId}&keyword=${item.gameName}`">
                    <span class="game-name">{{item.gameName}}</span>
                  </a>
                </li>
              </ul>
              <div v-else="" class="search-loading">
                Search result is null
              </div>
            </div>
          </div>
        </div>

      </div>



      <!-- <div class="posterBanner">
        <ins class="adsbygoogle" v-if="mobile" style="display:inline-block;width:320px;height:100px;"
          data-ad-client="ca-00023i84" :data-ad-slot="accountInfo.mobile.type.top"></ins>

        <ins class="adsbygoogle" v-else style="display:block" data-ad-client="ca-00023i84"
          :data-ad-slot="accountInfo.pc.type.top" data-ad-format="auto" data-full-width-responsive="true"></ins>

        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div> -->

      <div class="content">
        <a class="game scroll" :href="handleDetail(item)" v-for="item in searchResult" :key="item.gameId">
          <div class="game-pic">
            <img src="../images/picture.gif" class="pic lazyload fmt" :data-src="item.gameLogo" :alt="item.gameName">
          </div>
          <div class="name-box">
            <div class="name">{{item.gameName}}</div>
          </div>
        </a>
      </div>
      <div id="afscontainer1" style="max-width: 1200px;width: 100%;margin: 0 auto;"></div>
      <div id="afscontainer2" style="max-width: 1200px;width: 100%;margin: 0 auto;"></div>
      <div id="afscontainer3" style="max-width: 1200px;width: 100%;margin: 0 auto;"></div>

      <!-- <div class="posterBanner">
        <ins class="adsbygoogle" v-if="mobile" style="display:inline-block;width:320px;height:100px;"
          data-ad-client="ca-00023i84" :data-ad-slot="accountInfo.mobile.type.bottom"></ins>

        <ins class="adsbygoogle" v-else style="display:block" data-ad-client="ca-00023i84"
          :data-ad-slot="accountInfo.pc.type.bottom" data-ad-format="auto" data-full-width-responsive="true"></ins>

        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div> -->
      <div class="footer">
        <div class="bottom-navbar">
          <a :href="handleToAboutContent('cookies')">
            Cookies
          </a>
          <a :href="handleToAboutContent('privacy')">
            Privacy Policy
          </a>
          <a href="mailto:go@3tkj.cn" target="_blank">Contact Us</a>
          <a :href="handleToAboutContent('company')">
            About Us
          </a>
        </div>
      </div>
    </div>
  </div>
<script data-cfasync="false" src="../scripts/email-decode.min.js"></script></body>

<script src="../scripts/vue.min.js"></script>
<script src="../scripts/axios.min.js"></script>
<script src="../scripts/accountData.js"></script>
<script src="../scripts/afg.js"></script>
<script>
  function debounce(fn, delay) {
    let timer = null
    return function () {
      let that = this
      let args = arguments
      if (timer) {
        clearTimeout(timer)
      }
      timer = setTimeout(() => {
        fn.apply(that, args)
        clearTimeout(timer)
        timer = null
      }, delay)
    }
  }
</script>
<script>
  var vm = new Vue({
    el: '#app',
    data() {
      return {
        labelHide: false,

        shareStauts: false,

        gameChannelId: 4163,

        mobile: true,
        accountInfo: {},

        searchResult: [],
        search: '',
        searchDone: false,
        showSearchTable: false,
        categories: [
          {
            name: 'Hot Games',
            type: 'hot',
            imgUrl: './img/hot.png'
          },
          {
            name: 'Racing Games',
            type: 'racing',
            imgUrl: './img/racing-game.png'
          },
          {
            name: 'Shooter Games',
            type: 'shooter',
            imgUrl: './img/shooting-game.png'
          },
          {
            name: 'Action Games',
            type: 'action',
            imgUrl: './img/action-game.png'
          },
          {
            name: 'Casual Games',
            type: 'casual',
            imgUrl: './img/casual.png'
          },
          {
            name: 'Girls Games',
            type: 'girl',
            imgUrl: './img/girls.png'
          }
        ],
        pageOptions: {
          pubId: "pub-9616389000213823",
          // "styleId": "5290249905",
          styleId: "7475049824",
          query: ''
        },
        adblock1: {
          container: "afscontainer1"
        },
        pageOptions2: {
          pubId: "pub-9616389000213823",
          // "styleId": "5290249905",
          styleId: "7475049824",
          query: 'hot game'
        },
        adblock2: {
          container: "afscontainer2"
        },
        pageOptions3: {
          pubId: "pub-9616389000213823",
          // "styleId": "5290249905",
          styleId: "7475049824",
          query: 'new game'
        },
        adblock3: {
          container: "afscontainer3"
        }
      }
    },
    watch: {
      search(val) {
        this.searchGames(val)
      }
    },
    computed: {
      searchResultStyle() {
                return {
                    display: this.search.length === 0 || !this.showSearchTable ? 'none' : 'block'
                }
            },
    },
    methods: {
      loadGoogleSeachScript() {
        this.pageOptions.query = this.search || 'games'
      },
      handleToSearch() {
        location.href = `search.html?gameChannel=${this.gameChannelId}&keyword=${this.search}`
      },
      searchGames: debounce(function (searchWords = '3d') {
        this.searchDone = false
        axios({
          method: "post",
          url: "https://www.migame.vip/gamefront/gameList/search",
          data: {
            gameName: searchWords || '3d',
            isTop: -1,
            limit: 6,
            page: 1,
          }
        }).then(res => {
          this.searchResult = res.data.data
          this.searchDone = true
          this.$nextTick(() => {
            this.handleScroll()
            // _googCsa('ads', this.pageOptions, this.adblock1);
            // _googCsa('ads', this.pageOptions2, this.adblock2);
            // _googCsa('ads', this.pageOptions3, this.adblock3);
          })
        })
      }, 500),
      handleHideLabel() {
        this.labelHide = !this.labelHide
      },
      getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
      },
      handleTypeGames(type) {
        return `type.html?gameChannelId=${this.gameChannelId}&type=${type}`;
      },
      handleDetail(item) {
        return `detail.html?gameChannelId=${this.gameChannelId}&gameId=${item.gameId}`;
      },
      handleToAboutContent(type) {
        return `about_content.html?aboutContentType=${type}`;
      },
      handleScroll() {
        var imgs = document.querySelectorAll('.pic')
        var game_items = document.querySelectorAll(".scroll")
        let scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
        for (var i = 0; i < imgs.length; i++) {
          if ((window.innerHeight + scrolltop) > this.lazyload(game_items[i])) {
            (i => {
              setTimeout(() => {
                var temp = new Image()
                temp.src = imgs[i].getAttribute("data-src")
                temp.onload = () => {
                  imgs[i].src = imgs[i].getAttribute("data-src")
                }
              }, 100)
            })(i)
          }
        }
      },
      lazyload(e) {
        if (e != undefined) {
          return e.offsetTop
        }
      },
      getAdData() {
        var adjs = document.createElement('script')
        adjs.async = 'async'
        adjs.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-00023i84'
        adjs.crossorigin = 'anonymous'
        adjs.setAttribute("data-ad-frequency-hint", "30s");
        adjs.setAttribute("data-ad-channel", this.accountInfo.adChannel);
        // adjs.setAttribute("data-adbreak-test","on");

        document.head.append(adjs)
      },
      loadGAScript() {
        var adjs = document.createElement('script')
        adjs.async = 'async'
        adjs.src = `https://www.googletagmanager.com/gtag/js?id=${this.accountInfo.ga}`

        document.body.append(adjs)

        if (this.accountInfo.ga2.length) {
          var adjs1 = document.createElement('script')
          adjs1.async = 'async'
          adjs1.src = `https://www.googletagmanager.com/gtag/js?id=${this.accountInfo.ga2}`

          document.body.append(adjs1)
        }
      },
    },
    created() {
      this.gameChannelId = this.getQueryVariable('gameChannelId') ? this.getQueryVariable('gameChannelId') : 4163
      this.accountInfo = googleAccount.hasOwnProperty(this.gameChannelId) ? googleAccount[this.gameChannelId] : googleAccount[4163]
      this.loadGAScript()
    },
    mounted() {
      adPrepare()
      createScript()

      window.addEventListener("scroll", this.handleScroll, true)
      this.search = decodeURIComponent(this.getQueryVariable('keyword')) || ''

      // this.searchGames(this.search)
      this.getAdData()

      if (window.screen.width > 768) {
        this.mobile = false
      }

      this.$nextTick(this.loadGoogleSeachScript)

    },
  })
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', vm.accountInfo.ga);
  if (vm.accountInfo.ga2.length) {
    gtag('config', vm.accountInfo.ga2);
  }
</script>

</html>